.form {

    background-color: #222535;
}
label{
    color: #FDFD2E; 
    font-weight: normal; 
    text-align: right;
    
}
.Sign{
   background-color: #ffa807;
    color: #FDFD2E; 
}
input{
    margin-top: 2%;
}
.row{
    margin-top: 2%;
}
.checkbox{
    text-align: center;
    margin-bottom: 5%;
    
}
.body{
    border-radius: 20px;
    border-color: #ffff ;
}

.panel-title{
     transform: translateX(5%);
}

.footer{
    background-color: #ffa807;  
}